<html lang="en-us" class="gr__stefan-kolb_github_io"><head>
    <meta charset="UTF-8">
    <title>Cloud Computing & Artificial Intelligence Conferences</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <!-- <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/time.css" media="screen"> -->
    <!-- <link rel="shortcut icon" type="image/png" href="favicon.png"> -->
    <!-- <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> -->
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css"> -->
<!--   <link rel="stylesheet" href="css/subccs/hybridcc.css">
  <link rel="stylesheet" href="css/subccs/hybridfont.css"> -->
  <link rel="stylesheet" href="css/subccs/syntax.css">
  <link rel="stylesheet" href="css/subccs/main.css">
  <script src="js/jquery.js"></script>
  <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <script src="js/lodash.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

  </head>
  <body data-gr-c-s-loaded="true">
<!--     <section class="page-header">
      <h1 class="project-name">Hybrid Cloud & AI Conferences</h1>
      <h2 class="project-tagline">A collection of conferences focused on cloud computing and artificial intelligence.</h2>
    </section> -->




<div class="home-welcome">
  <div class="container">
    <h1>Hybrid Cloud Conference List</h1>
    <h2 class="project-tagline">A collection of conferences focused on system, network, SE, PL and CC.</h2>
    <a href="https://github.com/tingdai/tingdai.github.io/blob/master/hybridcloud.html"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  </div>

  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://conf.researchr.org/home/icse-2020" target="_blank" style="color:white">ICSE</a></h2>
          <p>International Conference on Software Engineering</p>
          <p>May 23-29 2020, <em>Seoul, South Korea</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2019/08/23:</p>
          <div class="countdown-container" data-countdown="2019/08/23"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://2020.esec-fse.org/" target="_blank" style="color:white">FSE</a></h2>
          <p>Symposium on Foundations of Software Engineering</p>
          <p>November 8-13 2020, <em>Sacramento, California</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2020/03/05:</p>
          <div class="countdown-container" data-countdown="2020/03/05"></div>
        </div>
        </div>
  </div>



  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://www.usenix.org/conference/nsdi20" target="_blank" style="color:white">NSDI</a></h2>
          <p>Symposium on Networked Systems Design and Implementation</p>
          <p>February 25–27, 2020, <em>Santa Clara, California</em></p>
        </div>
        <div class="col-md-4">
          <div class="main-example">
          <p><br>Spring Deadline 2019/03/19:</p>
          <div class="countdown-container" data-countdown="2019/03/19"></div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="main-example">
          <p><br>Fall Deadline 2019/09/19:</p>
          <div class="countdown-container" data-countdown="2019/09/19"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://conf.researchr.org/home/pldi-2020" target="_blank" style="color:white">PLDI</a></h2>
          <p>ACM SIGPLAN Conference on Programming Language Design and Implementation </p>
          <p>June 15-20 2020, <em>London, United Kingdom</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2019/11/22:</p>
          <div class="countdown-container" data-countdown="2019/11/22"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://www.usenix.org/conference/osdi20" target="_blank" style="color:white">OSDI</a></h2>
          <p>USENIX Symposium on Operating Systems Design and Implementation</p>
          <p>November 4–6, 2020, <em>Banff, Alberta, Canada</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2020/05/12:</p>
          <div class="countdown-container" data-countdown="2020/05/12"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://sosp19.rcs.uwaterloo.ca/" target="_blank" style="color:white">SOSP</a></h2>
          <p>ACM Symposium on Operating Systems Principles</p>
          <p>October 27-30, 2019, <em>Deerhurst Resort, Huntsville, Ontario, Canada</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2019/04/24:</p>
          <div class="countdown-container" data-countdown="2019/04/24"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://www.usenix.org/conference/atc20" target="_blank" style="color:white">ATC</a></h2>
          <p>USENIX Annual Technical Conference</p>
          <p>July 15–17, 2020, <em>Boston, Massachusetts</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2020/01/15:</p>
          <div class="countdown-container" data-countdown="2020/01/15"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://www.eurosys2020.org/" target="_blank" style="color:white">EuroSys</a></h2>
          <p>USENIX Annual Technical Conference</p>
          <p>April 27-30, 2020, <em>Heraklion, Crete, Greece</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2019/11/04:</p>
          <div class="countdown-container" data-countdown="2019/11/04"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://www.usenix.org/conference/fast20" target="_blank" style="color:white">FAST</a></h2>
          <p>USENIX Conference on File and Storage Technologies</p>
          <p>February 24–27, 2020, <em>Santa Clara, California</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2020/01/23:</p>
          <div class="countdown-container" data-countdown="2020/01/23"></div>
        </div>
        </div>
  </div>


  <div class="container">   
        <div class="col-md-4">
          <h2><a href="https://acmsocc.github.io/2019/" target="_blank" style="color:white">SoCC</a></h2>
          <p>Symposium on Cloud Computing</p>
          <p>November 20-23, 2019, <em>Chaminade, Santa Cruz, California</em></p>
        </div>
        <div class="col-md-8">
          <div class="main-example">
          <p><br>Deadline 2019/06/10:</p>
          <div class="countdown-container" data-countdown="2019/06/10"></div>
        </div>
        </div>
  </div>


</div>

<script type="text/template" id="main-example-template">
  <div class="time <%= label %>">
    <span class="count curr top"><%= curr %></span>
    <span class="count next top"><%= next %></span>
    <span class="count next bottom"><%= next %></span>
    <span class="count curr bottom"><%= curr %></span>
    <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
  </div>
</script>
<script type="text/javascript">
  $('[data-countdown]').each(function() {
    var $this = $(this), nextYear = $(this).data('countdown');
  // $(window).on('load', function() {
    var labels = ['weeks', 'days', 'hours', 'minutes', 'seconds'],
      // nextYear = (new Date().getFullYear() + 1) + '/01/01',
      template = _.template($('#main-example-template').html()),
      currDate = '00:00:00:00:00',
      nextDate = '00:00:00:00:00',
      parser = /([0-9]{2})/gi,
      // $example = $('#main-example');
      $example = $(this);
    // Parse countdown string to an object
    function strfobj(str) {
      var parsed = str.match(parser),
        obj = {};
      labels.forEach(function(label, i) {
        obj[label] = parsed[i]
      });
      return obj;
    }
    // Return the time components that diffs
    function diff(obj1, obj2) {
      var diff = [];
      labels.forEach(function(key) {
        if (obj1[key] !== obj2[key]) {
          diff.push(key);
        }
      });
      return diff;
    }
    // Build the layout
    var initData = strfobj(currDate);
    labels.forEach(function(label, i) {
      $this.append(template({
        curr: initData[label],
        next: initData[label],
        label: label
      }));
    });
    // Starts the countdown
    $this.countdown(nextYear, function(event) {
      var newDate = event.strftime('%w:%d:%H:%M:%S'),
        data;
      if (newDate !== nextDate) {
        currDate = nextDate;
        nextDate = newDate;
        // Setup the data
        data = {
          'curr': strfobj(currDate),
          'next': strfobj(nextDate)
        };
        // Apply the new values to each node that changed
        diff(data.curr, data.next).forEach(function(label) {
          var selector = '.%s'.replace(/%s/, label),
              $node = $this.find(selector);
          // Update the node
          $node.removeClass('flip');
          $node.find('.curr').text(data.curr[label]);
          $node.find('.next').text(data.next[label]);
          // Wait for a repaint to then flip
          _.delay(function($node) {
            $node.addClass('flip');
          }, 50, $node);
        });
      }
    });
  });
</script>



      <footer class="site-footer" style="color:white">
        <span class="site-footer-owner">Created by <a href="https://tingdai.github.io" style="color:white">Ting Dai</a>.</span>
        <span class="site-footer-credits">Thanks for the template <a href="http://stefan-kolb.github.io/cloud-conferences/" style="color:white">cloud-conferences</a> and <a href="http://hilios.github.io/jQuery.countdown/" style="color:white">jQuery.countdown</a>.</span>
      </footer>
  

</body></html>