<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Hybrid Cloud Conferences</title>
    <meta name="author" content="Ting Dai">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/subccs/main.css">
    <script src="js/jquery.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <link href="css/bootstrap2.min.css" rel="stylesheet" media="screen">
    <script src="js/moment.min.js"></script>
    <script src="js/moment-timezone-with-data.min.js"></script>
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/font-awesome2.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome-animation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/gh-fork-ribbon.css" />
    <link rel="stylesheet" href="css/h-timeline.css">
    <style>
        /* The default background color is #c00 */
        .github-fork-ribbon.right-bottom:before {
            background-color: #090;
        }

        .github-fork-ribbon.right-top:before {
            background-color: #f80;
        }

        .github-fork-ribbon.left-bottom:before {
            background-color: #333;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46464487-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-46464487-1');
    </script>
  </head>

  <body data-gr-c-s-loaded="true">

    <div class="home-welcome">
      <div class="container">
        <h1>
          <!-- <i class="fa fa-hourglass faa-spin faa-slow animated"></i>  -->
          <i class="fa-stack fa-1x hourglass-spin">
          <i class="fa fa-stack-1x fa-hourglass-start"></i>
          <i class="fa fa-stack-1x fa-hourglass-half"></i>
          <i class="fa fa-stack-1x fa-hourglass-end"></i>
          <i class="fa fa-stack-1x fa-hourglass-end spin"></i>
          </i>
          Hybrid Cloud Conference Countdowns 
        </h1>
        
        <h3 class="project-tagline">
          <a class="btn btn-transparent btn-sm"><i class="fa fa-tag"></i>system</a> 
          <a class="btn btn-transparent btn-sm"><i class="fa fa-tag"></i>network</a>
          <a class="btn btn-transparent btn-sm"><i class="fa fa-tag"></i>software engineering</a>
          <a class="btn btn-transparent btn-sm"><i class="fa fa-tag"></i>programming language</a>
          <a class="btn btn-transparent btn-sm"><i class="fa fa-tag"></i>cloud computing</a>
        </h3>
        <!-- <h5>
          <i class="ios ion-ios-redo fa-lg"></i>
          To edit a conference, <a target="_blank" href="https://github.com/tingdai/tingdai.github.io/blob/master/hybridcloud.html#L162-L171" style="color:white">send in a pull request</a>.
        </h5> -->
        <a class="github-fork-ribbon right-top" href="https://github.com/tingdai/tingdai.github.io/blob/master/hybridcloud.html" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <!-- <h5>
          <i class="ios ion-ios-timer-outline fa-lg"></i>
          <script>
            var dt = document.lastModified;    
            var anotherDateObject = new Date(Date.parse(dt));
            document.write("Last updated on: " + anotherDateObject); 
          </script>
        </h5> -->
        <hr>
      </div>


      
      <div class="container">
        <p>Submission deadlines in the next 12 months:</p>
        <br><br>

        <div conf-dd-twelve-month=""></div>

        <div><p style="font-size:13px; text-align:center">ICSE*: industry track,&nbsp;&nbsp; ESEC/FSE*: industry track,&nbsp;&nbsp; NSDI*: spring submission,&nbsp;&nbsp; NSDI**: fall submission</p></div>
      </div>



       <script type="text/template", id="conf-deadline-month">
          <div class="timeline" style="font-size:15px;"> 
          <ul>
            <%= liItem1 %>
            <%= liItem2 %>
            <%= liItem3 %>
            <%= liItem4 %>
            <%= liItem5 %>
            <%= liItem6 %>
            <%= liItem7 %>
            <%= liItem8 %>
            <%= liItem9 %>
            <%= liItem10 %>
            <%= liItem11 %>
            <%= liItem12 %>
            <%= liItem13 %>
            <%= liItem14 %>
          </ul>
          </div>
        </script>

        <script type="text/template", id="conf-deadline-month-each">
            <li class="<%= classtype %>"><div data="<%= date%>"><%= confname %></div></li>
        </script>



      <div data-conference-container=""></div>


    <script type="text/template" id="main-example-template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
    </script>

    <script type="text/template" id="deadline-text-template">
      <p><br><%= ddtype %> Deadline:<br><span class="note"><%= deadline %></span></p>
    </script>

    <script type="text/template" id="conf-details-template">
      <h2><a href="<%= link %>" target="_blank" style="color:white"><%= abbrvC %></a></h2>
      <p><%= fullname %></p>
      <p><%= period %>, <em><%= place %></em></p>
    </script>


    <script type="text/template" id="conf-container-template">
      <div id="<%= confabbr %>">
      <div class="container"><hr>   
        <div class="col-md-4">
          <div data-abbrv="<%= confabbr %>" data-detail=""></div>
        </div>
        <div class="col-md-4">
          <div class="main-example">
            <div id="<%= typeid %>">
              <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype %>"></div>
            </div>
          </div>
        </div>
    </div>
    </script>

    <script type="text/template" id="conf-container-template2">
      <div id="<%= confabbr %>">
      <div class="container"><hr>   
        <div class="col-md-4">
          <div data-abbrv="<%= confabbr %>" data-detail=""></div>
        </div>
        <div class="col-md-4">
          <div class="main-example">
            <div id="<%= type1id %>">
              <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype1 %>"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="main-example">
            <div id="<%= type2id %>">
              <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype2 %>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </script>

    <script type="text/template" id="conf-container-template4">
      <div id="<%= confabbr %>">
        <div class="container"><hr>   
          <div class="col-md-4">
            <div data-abbrv="<%= confabbr %>" data-detail=""></div>
          </div>
          <div class="col-md-4">
            <div class="main-example">
              <div id="<%= type1id %>">
                <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype1 %>"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-example">
              <div id="<%= type2id %>">
                <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype2 %>"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">   
          <div class="col-md-4">
            <div data-abbrv="<%= confabbr %>"></div>
          </div>
          <div class="col-md-4">
            <div class="main-example">
              <div id="<%= type3id %>">
                <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype3 %>"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="main-example">
              <div id="<%= type4id %>">
                <div class="countdown-container" data-abbrv="<%= confabbr %>" data-countdown="" data-ddtype="<%= ddtype4 %>"></div>
              </div>
            </div>
          </div>
        </div><br><br>
      </div>
    </script>


    <script type="text/javascript">
    $(function() {
      conferences = [
        {"abbrv": "icse", "deadline": {"Technical Submission": "2020-08-28 23:59:59", "Other Tracks Submission": "2020-10-18 23:59:59"}, "timezone": "AoE", "period": "May 23-29, 2021", "place": "Madrid, Spain", "link": "https://conf.researchr.org/home/icse-2021"},
        {"abbrv": "fse", "deadline": {"Industry Submission": "2020-05-19 23:59:59", "Research Submission": "2020-03-05 23:59:59"}, "timezone": "AoE", "period": "November 8-13, 2020", "place": "Sacramento, California", "link": "https://2020.esec-fse.org/"},
        {"abbrv": "nsdi", "deadline": {"Spring Abstract": "2020-04-10 23:59:59", "Spring Submission": "2020-04-17 23:59:59", "Fall Abstract": "2020-09-10 23:59:59", "Fall Submission": "2020-09-17 23:59:59"}, "timezone": "EDT", "period": "April 12–14, 2021", "place": "Boston, Massachusetts", "link": "https://www.usenix.org/conference/nsdi21"},
        {"abbrv": "pldi", "deadline": {"Submission": "2019-11-22 23:59:59"}, "timezone": "AoE", "period": "June 15-20 2020", "place": "London, United Kingdom", "link": "https://conf.researchr.org/home/pldi-2020"},
        {"abbrv": "osdi", "deadline": {"Abstract": "2020-05-20 15:00:00", "Submission": "2020-05-27 15:00:00"}, "timezone": "PDT", "period": "November 4–6, 2020", "place": "Banff, Alberta, Canada", "link": "https://www.usenix.org/conference/osdi20"},
        {"abbrv": "sosp", "deadline": {"Abstract": "2019-04-17 23:59:59", "Submission": "2019-04-24 23:59:59"}, "timezone": "UTC", "period": "October 27-30, 2019", "place": "Deerhurst Resort, Huntsville, Ontario, Canada", "link": "https://sosp19.rcs.uwaterloo.ca/"},
        {"abbrv": "atc", "deadline": {"Submission": "2020-01-15 23:59:59"}, "timezone": "EST", "period": "July 15–17, 2020", "place": "Boston, Massachusetts", "link": "https://www.usenix.org/conference/atc20"},
        {"abbrv": "eurosys", "deadline": {"Submission": "2020-11-04 23:59:59"}, "timezone": "AoE", "period": "April 26-29, 2021", "place": "Edinburgh, Scotland, UK", "link": "https://2021.eurosys.org/"},
        {"abbrv": "fast", "deadline": {"Submission": "2020-09-24 23:59:59"}, "timezone": "PDT", "period": "February 22–25, 2021", "place": "Santa Clara, California", "link": "https://www.usenix.org/conference/fast21"},
        {"abbrv": "socc", "deadline": {"Abstract": "2020-05-18 23:59:59", "Submission": "2020-05-26 23:59:59"}, "timezone": "EDT", "period": "October 19-21, 2020", "place": "Renton, Washington", "link": "https://acmsocc.github.io/2020/"},
      ];
      //Technical Submission, Research Submission, Spring Submission, Fall Submission, Submission, 
      //Other Tracks Submission, Industry Submission,
      conferenceConstants = {
        "icse": {"abbrvC": "ICSE", "fullname": "International Conference on Software Engineering"},
        "fse":  {"abbrvC": "ESEC/FSE", "fullname": "ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering"},
        "nsdi": {"abbrvC": "NSDI", "fullname": "USENIX Symposium on Networked Systems Design and Implementation"},
        "pldi": {"abbrvC": "PLDI", "fullname": "ACM SIGPLAN Conference on Programming Language Design and Implementation"},
        "osdi": { "abbrvC": "OSDI", "fullname": "USENIX Symposium on Operating Systems Design and Implementation"},
        "sosp": { "abbrvC": "SOSP", "fullname": "ACM Symposium on Operating Systems Principles"},
        "atc":  {"abbrvC": "ATC", "fullname": "USENIX Annual Technical Conference"},
        "eurosys": {"abbrvC": "EuroSys", "fullname": "European Conference on Computer Systems"},
        "fast": {"abbrvC": "FAST", "fullname": "USENIX Conference on File and Storage Technologies"},
        "socc": {"abbrvC": "SoCC", "fullname": "ACM Symposium on Cloud Computing"},
      };

      timezones = {'AoE': 'UTC-12', 'EST': 'UTC-5', 'EDT': 'UTC-4', 'PDT': 'UTC-7', 'PST': 'UTC-8', 'UTC': 'UTC'};


      // Borrowed from https://github.com/moment/moment-timezone/issues/167
      // Adds support for time zones 'UTC-12'..'UTC+12'
      function addUtcTimeZones() {
        // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
        // However, the signs for these time zones are inverted compared to ISO 8601.
        // For more details, see https://github.com/moment/moment-timezone/issues/167
        for (let offset = -12; offset <= 12; offset++) {
          const posixSign = offset <= 0 ? '+' : '-';
          const isoSign = offset >= 0 ? '+' : '-';
          const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
          moment.tz.link(link);
        }
      }
      addUtcTimeZones();
      var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

      months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

      $('[conf-dd-twelve-month]').each(function(){

        var realDD = {
            "Jan": [], "Feb": [], "Mar": [], "Apr": [], 
            "May": [], "Jun": [], "Jul": [], "Aug": [],
            "Sep": [], "Oct": [], "Nov": [], "Dec": [],
        };
        var j = conferences.length;
        //Technical Submission, Research Submission, Spring Submission, Fall Submission, Submission, 
        //Other Tracks Submission, Industry Submission,
        while(j--) {
          var deadlines = conferences[j].deadline;
          var tz = conferences[j].timezone;
          var timezone = timezones[tz];
          var localDDMap = new Map();
          for (var type in deadlines){
            var deadline = deadlines[type];
            var confDate = moment.tz(deadline, timezone);
            var localConfDate = moment.tz(confDate, local_timezone);
            localDDMap[type] = localConfDate; //add the local deadline into a new map
          }
          conferences[j].localDDMap = localDDMap;//add the map into conferences properity
          
          var confddmap = conferences[j].localDDMap;
          var abbrv = conferences[j].abbrv;
          var abbrvC = conferenceConstants[abbrv]["abbrvC"];
          for (var type in confddmap) {//type is dd name
            if (type.includes('Abstract')) { //we don't focus on abstract deadline
              continue;
            }
            var abbrvCNote = abbrvC;
            if (type.includes('Other') || type.includes('Industry') || type.includes('Spring')) {
              abbrvCNote = abbrvC + "*";
            } 
            if (type.includes('Fall')){
              abbrvCNote = abbrvC + "**";
            }
            var deadline = confddmap[type]; // deadline is the dd date
            var ddmonth = deadline.toString().substring(4, 7);
            // ddmonth = ddmonth.substring(0,3); //only keep the first 3 letters for the month abbreviation
            realDD[ddmonth].push(abbrvCNote);
          }
        }

        var $this = $(this);
        var thisyear = new Date().getFullYear();
        var nextyear = thisyear +1;
        // var thismonth = new Date().getMonth();
        var thismonth = 5;
        var liItemTemps = [];
        //append the current year
        var temp0 = _.template($('#conf-deadline-month-each').html());
        liItemTemps.push(temp0({classtype:"ypoint", date:thisyear, confname:null}));
        //append all the conferences and nextyear
        var i = months.length;//i = 12
        var insertednextyear = false;
        while(i--){
          var classtype = "";
          var confname = null;
          var month = months[(thismonth+months.length-i-1)%months.length];
          if( month.includes('Jan') && !insertednextyear && i != 11) {
            month = nextyear; //we need to assert 
            i++;
            insertednextyear = true;
            classtype = "ypoint";
          }
          if(month !== nextyear){
            var ddlist = realDD[month];
            var oddOrEvenYear = 0;
            if(insertednextyear){
              oddOrEvenYear = nextyear%2;
            } else {
              oddOrEvenYear = thisyear%2;
            }
            if(ddlist.length > 0){
              confname = "";
              var index = ddlist.length;
              while(index--){
                if(ddlist[index].includes('OSDI') && oddOrEvenYear == 1){
                  continue;
                } else if (ddlist[index].includes('SOSP') && oddOrEvenYear == 0){
                  continue;
                }
                confname = confname + ddlist[index] + "</div><div>";
              }
              if(confname.length > 11){
                confname = confname.substring(0, confname.length - 11);
              }
            } else {
              classtype = "point";
            } 
          }
          var temp = _.template($('#conf-deadline-month-each').html());
          liItemTemps.push(temp({classtype: classtype, date: month, confname: confname}));
        }
        

        var temp = _.template($('#conf-deadline-month').html());
        $this.append(temp({
          liItem1: liItemTemps[0],
          liItem2: liItemTemps[1],
          liItem3: liItemTemps[2],
          liItem4: liItemTemps[3],
          liItem5: liItemTemps[4],
          liItem6: liItemTemps[5],
          liItem7: liItemTemps[6],
          liItem8: liItemTemps[7],
          liItem9: liItemTemps[8],
          liItem10: liItemTemps[9],
          liItem11: liItemTemps[10],
          liItem12: liItemTemps[11],
          liItem13: liItemTemps[12],
          liItem14: liItemTemps[13],
        }));
      });


      $('[data-conference-container]').each(function() {
        var upcommings = [], pasts = [];
        var j = conferences.length;
        while(j--) {
          // var deadlines = conferences[j].deadline;
          // var tz = conferences[j].timezone;
          // var timezone = timezones[tz];
          // var localDDMap = new Map();
          var localDDMap = conferences[j].localDDMap;
          var comingdates = []; 
          var pastdates = [];
          // for (var type in deadlines){
          for (var type in localDDMap){
            // var deadline = deadlines[type];
            // var confDate = moment.tz(deadline, timezone);
            // var localConfDate = moment.tz(confDate, local_timezone);
            // localDDMap[type] = localConfDate; //add the local deadline into a new map
            localConfDate = localDDMap[type];
            if(localConfDate.toDate() > moment()) {
              comingdates.push(localConfDate); 
            } else {
              pastdates.push(localConfDate);
            }
          }
          // conferences[j].localDDMap = localDDMap;//add the map into conferences properity
          
          if(comingdates.length > 1){
            comingdates.sort((a, b) => (a.toDate() > b.toDate()) ? 1 : -1); //ascending
            conferences[j].minComingDate = comingdates[0];//the minumum among the dates larger than current
          } else if(comingdates.length == 1) {
            conferences[j].minComingDate = comingdates[0];
          } else {
            conferences[j].minComingDate = 0;
          }

          if(pastdates.length > 1){
            pastdates.sort((a, b) => (a.toDate() > b.toDate()) ? 1 : -1); //ascending
            conferences[j].maxPastDate = pastdates[pastdates.length-1];//the maxinum among the dates larger than current
          } else if(pastdates.length == 1) {
            conferences[j].maxPastDate = pastdates[0];
          } else {
            conferences[j].maxPastDate = 0;
          }

          if (conferences[j].minComingDate != 0){ 
            upcommings.push(conferences[j]);
          } else {
            pasts.push(conferences[j]);
          }
        }
        

        upcommings.sort((a, b) => (b.minComingDate.toDate() > a.minComingDate.toDate()) ? 1 : -1) //descending
        
        pasts.sort((a, b) => (a.maxPastDate.toDate() > b.maxPastDate.toDate()) ? 1 : -1) //ascending


        var $this = $(this);
        var i = upcommings.length;
        while(i--) { //descending + descending = ascending
          var cnf = upcommings[i];
          var ups = [], psts = [];
          for (var type in cnf.localDDMap) {
            var deadline = cnf.localDDMap[type];
            if (deadline.toDate() >= moment()){ 
              ups.push({"type": type, "deadline": deadline});
            } else {
              psts.push({"type": type, "deadline": deadline});
            }
          }
          ups.sort((a, b) => (b.deadline.toDate() > a.deadline.toDate()) ? 1 : -1) //descending
          psts.sort((a, b) => (a.deadline.toDate() > b.deadline.toDate()) ? 1 : -1) //ascending
          var types = [];
          var upi = ups.length;
          while(upi--){types.push(ups[upi].type);} //descending+descending = ascending
          var psti = psts.length;
          while(psti--){types.push(psts[psti].type);} //ascending + descending = descending
  
          var abbrv = cnf.abbrv;
          if(types.length == 1){
            var temp = _.template($('#conf-container-template').html());
            $this.append(temp({
              confabbr: abbrv, 
              ddtype: types[0], 
              typeid: abbrv.concat(types[0]).replace(/\s/g, '')
            }));
          } else if(types.length == 2){
            var temp = _.template($('#conf-container-template2').html());
            $this.append(temp({
              confabbr: abbrv, 
              ddtype1: types[0], 
              ddtype2: types[1], 
              type1id: abbrv.concat(types[0]).replace(/\s/g, ''),
              type2id: abbrv.concat(types[1]).replace(/\s/g, '')
            })); 
          } 
          else if(types.length == 4){
            var temp = _.template($('#conf-container-template4').html());
            var id = abbrv.concat(types[2]);
            $this.append(temp({
              confabbr: abbrv, 
              ddtype1: types[0], 
              ddtype2: types[1], 
              ddtype3: types[2], 
              ddtype4: types[3],
              type1id: abbrv.concat(types[0]).replace(/\s/g, ''),
              type2id: abbrv.concat(types[1]).replace(/\s/g, ''),
              type3id: abbrv.concat(types[2]).replace(/\s/g, ''),
              type4id: abbrv.concat(types[3]).replace(/\s/g, '')
            })); 
          }
          psti = psts.length;
          while(psti--){
            var pstid = abbrv.concat(psts[psti].type).replace(/\s/g, '');
            $('#' + pstid).addClass('past'); 
          } 
        }
  
        var k = pasts.length;
        while(k--) { //ascending + descending = descending
          var cnf = pasts[k];
          var psts = [];
          for (var type in cnf.localDDMap) {
            var deadline = cnf.localDDMap[type];
            psts.push({"type": type, "deadline": deadline});
          }
          psts.sort((a, b) => (a.deadline.toDate() > b.deadline.toDate()) ? 1 : -1) //ascending
          var types = [];
          var psti = psts.length;
          while(psti--){types.push(psts[psti].type);} //ascending + descending = descending
  
          var abbrv = cnf.abbrv;
          if(types.length == 1){
            var temp = _.template($('#conf-container-template').html());
            $this.append(temp({
              confabbr: abbrv, 
              ddtype: types[0], 
              typeid: abbrv.concat(types[0]).replace(/\s/g, '')
            }));
          } else if(types.length == 2){
            var temp = _.template($('#conf-container-template2').html());
            $this.append(temp({
              confabbr: abbrv, 
              ddtype1: types[0], 
              ddtype2: types[1], 
              type1id: abbrv.concat(types[0]).replace(/\s/g, ''),
              type2id: abbrv.concat(types[1]).replace(/\s/g, '')
            })); 
          } 
          else if(types.length == 4){
            var temp = _.template($('#conf-container-template4').html());
            $this.append(temp({
              confabbr: abbrv, 
              ddtype1: types[0], 
              ddtype2: types[1], 
              ddtype3: types[2], 
              ddtype4: types[3],
              type1id: abbrv.concat(types[0]).replace(/\s/g, ''),
              type2id: abbrv.concat(types[1]).replace(/\s/g, ''),
              type3id: abbrv.concat(types[2]).replace(/\s/g, ''),
              type4id: abbrv.concat(types[3]).replace(/\s/g, '')
            }));  
          }
          $('#' + abbrv).addClass('past'); 
        }
      });



      $('[data-detail]').each(function() {
        var $this = $(this);
        var abbrv = $(this).data('abbrv');
        var i = conferences.length, fullname, period, place, link, abbrvC;
        while(i--) {
          if(abbrv == conferences[i].abbrv) {
              period = conferences[i].period;
              year = period.substr(period.length - 4);;
              abbrvC = conferenceConstants[abbrv]["abbrvC"]+' '+year;
              fullname = conferenceConstants[abbrv]["fullname"];
              place = conferences[i].place;
              link = conferences[i].link;
              break;
          }
        }
        var temp = _.template($('#conf-details-template').html());
        $this.append(temp({
            link: link,
            abbrvC: abbrvC,
            fullname: fullname,
            period: period,
            place: place,
        }));
      });


      $('[data-countdown]').each(function() {
        var $this = $(this);
        // var $this = $(this), deadlineDate = $(this).data('countdown');
        var abbrv = $(this).data('abbrv');
        var ddtype = $(this).data('ddtype');
        var i = conferences.length, deadlineDate;
        var confddID = abbrv.concat(ddtype).replace(/\s/g, '');

        while(i--) {
          if(abbrv == conferences[i].abbrv) {
            var localConfDate = conferences[i].localDDMap[ddtype];
              //var localConfDate = conferences[i].localConfDate;
            deadlineDate = localConfDate.toDate();
            break;
          }
        }
        var temp = _.template($('#deadline-text-template').html());
        $this.append(temp({deadline: deadlineDate, ddtype: ddtype}));
        var labels = ['weeks', 'days', 'hours', 'minutes', 'seconds'];
          // deadlineDate = (new Date().getFullYear() + 1) + '/01/01',
        var template = _.template($('#main-example-template').html());
        var currDate = '00:00:00:00:00';
        var nextDate = '00:00:00:00:00';
        var parser = /([0-9]{2})/gi;
          // $example = $('#main-example');
          // $example = $(this);
        // Parse countdown string to an object
        function strfobj(str) {
          var parsed = str.match(parser);
          var obj = {};
          labels.forEach(function(label, i) {
            obj[label] = parsed[i]
          });
          return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
          var diff = [];
          labels.forEach(function(key) {
            if (obj1[key] !== obj2[key]) {
              diff.push(key);
            }
          });
          return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function(label, i) {
          $this.append(template({
            curr: initData[label],
            next: initData[label],
            label: label
          }));
        });
        // Starts the countdown
        $this.countdown(deadlineDate, function(event) {
          var newDate = event.strftime('%w:%d:%H:%M:%S'), data;
          if (newDate !== nextDate) {
            currDate = nextDate;
            nextDate = newDate;
            // Setup the data
            data = {
              'curr': strfobj(currDate),
              'next': strfobj(nextDate)
            };
            // Apply the new values to each node that changed
            diff(data.curr, data.next).forEach(function(label) {
              var selector = '.%s'.replace(/%s/, label);
              var $node = $this.find(selector);
              // Update the node
              $node.removeClass('flip');
              $node.find('.curr').text(data.curr[label]);
              $node.find('.next').text(data.next[label]);
              // Wait for a repaint to then flip
              _.delay(function($node) {
                $node.addClass('flip');
              }, 50, $node);
            });
          } else {
            $('#' + confddID).addClass('past'); 
          }
        });
      });
    });
    </script>
    <br>


    <footer style="color:white" background-color="transparent">
      <iframe src="https://ghbtns.com/github-btn.html?user=tingdai&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe> <!--follow-->
      <br>
      <span class="site-footer-owner">Created by <a href="https://tingdai.github.io" style="color:white">Ting Dai</a>.</span>
      <span class="site-footer-credits">Thanks for the template <a href="http://stefan-kolb.github.io/cloud-conferences/" style="color:white">cloud-conferences</a>, <a href="http://hilios.github.io/jQuery.countdown/" style="color:white">jQuery.countdown</a>, and <a href="https://aideadlin.es/?sub=ML,RO,SP,CV,NLP,DM" style="color:white">aideadlines</a>.</span><br>
      <script>
              var dt = document.lastModified;    
              var anotherDateObject = new Date(Date.parse(dt));
              document.write("Last updated on: " + anotherDateObject.toLocaleDateString());      
      </script><br>
      <span>
      <!-- <iframe src="https://ghbtns.com/github-btn.html?user=tingdai&repo=tingdai.github.io&type=watch&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>  --><!--star-->
      <!-- <iframe src="https://ghbtns.com/github-btn.html?user=tingdai&repo=tingdai.github.io&type=fork&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe--> <!--fork-->
      </span>
    </footer>
  </body>
</html>